@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-[#09090b] dark:text-white antialiased;
  }
}

/* Scrollbar Minimalis (Wajib biar rapi) */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { @apply bg-gray-300 dark:bg-gray-800 rounded-full; }

/* --- SAFARI & IOS FIXES --- */
@layer utilities {
  .h-screen {
    height: 100vh;
    height: 100dvh;
  }
  
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }

  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

[class*="backdrop-blur"] {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

/* --- PERBAIKAN PERFORMA (Tambahkan ini saja) --- */
.gpu-mode {
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform, opacity;
  perspective: 1000px;
}